*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    background-color:lightgrey;
}
nav{
    margin-left: 70px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    flex: 1;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.phone-info-wrapper{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
}
.mobile-wrapper{
    display: grid;
    place-items:center;
}
.mobile-wrapper img{
    width: 80px;
}
.info-wrapper{
    display: grid;
    place-items: center;
    margin-top: 30px;
}
.info{
    width: 480px;
    line-height: 30px;
    font-size: 20px;
    padding: 20px 0;
}
.info a{
    text-decoration: none;
    color: skyblue;
}
.information{
    background-color:lightgrey;
}
.main-wrapper , .news , .information-wrapper{
    display: grid;
    place-items: center;
}
.information-wrapper img{
    width: 90%;
}
.news{
    line-height: 45px;
}
.news p{
    font-size: 20px;
    margin-top: 30px;
}
.news h5{
    font-size: 25px;
}
.news h2{
    font-size: 35px;
}
.button-wrapper button{
    background-color: rgb(56, 56, 255);
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.button-wrapper a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(56, 56, 255) ;
}
.third-section{
    background-color: black;
    padding-top: 40px;
}
.price{
    color: white;
}
.fourth-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.wise-words{
    font-size: 35px;
    color:rgb(56, 56, 255);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.information-wrapper span{
    margin:20px 0;
}
.information-wrapper img{
    margin-bottom: 20px;
}
.fifth-section{
    background-image: url(images/iphone.jpg);
    border-radius: 40px;
    height: 814px;
}
.film-about-using-iphone{
    width: 210px;
    padding: 340px 0px 0px 0px;
}
.film-about-using-iphone p{
    font-size: 35px;
    color: white;
}
.film-about-using-iphone span{
    font-size: 20px;
    color: white;
}
.film-about-using-iphone button{
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}
.fifth-section{
    padding-left: 200px;
}
.mobile-phone-wrapper{
    display: grid;
    place-items: center;
}
.mobile-phone-wrapper p{
    width: 260px;
    display: grid;
    place-items: center;
    margin: 10px 0px 30px 0px;
}
.mobile-phone-wrapper button{
    background-color: rgb(56, 56, 255);
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
}
.mobile-phone-wrapper a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(56, 56, 255) ;
    margin: 15px 0;
}
.heading h2{
    font-size: 40px;
    margin: 80px 0;
}
.heading{
    display: grid;
    place-items: center;
}
.mobile-phone-info-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.links{
    text-decoration: none;
    font-size: 20px;
    color:rgb(56, 56, 255) ;
    margin: 15px 0;
    margin: 100px 50px 100px 0px;
}
.links-wrapper{
    display: flex;
    place-content: center;
}
.section{
    background-color: rgb(197, 194, 186);
}
.grid-box{
    display: grid;
    place-items: center;
    margin-bottom: 15px;
    width: 418px;
    background-color: white;
}
.grid-box p , span {
    width: 250px;
    line-height: 30px;
}
.grid-box a{
    margin: 10px 0;
}
.first-img{
    width: 100%;
}
.grid {
    display: grid;
    place-items: center;
}
.grid a{
    text-decoration: none;
    color: blue;
    font-size: 30px;
    margin-bottom: 30px;
}
.grid h2{
    margin: 60px 0;
    font-size: 30px;
}
.grid-wrapper{
    display: flex;
    justify-content: space-between;
}
.grid-100{
    background-image: url(images/image6.jpg);
    display: grid;
    place-items: center;
    padding: 70px 0;
}
.grid-100 p  {
    width: 250px;
    margin: 10px 0;
    color: green;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin-bottom: 15px;
}
.grid2{
    display: grid;
    place-items: center;
    background-image: url(images/airpods.jpg);
    padding: 35px 0px 380px 0px;
    margin-bottom: 40px;
}
.grid2 h3{
    font-size:40px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid3-wrapper{
    display: grid;
    place-items: center;
}
.grid3-wrapper p{
    width: 300px;
    line-height: 30px;
    margin: 20px 0;
}
.grid3{
    display: grid;
    place-items: center;
    background-image: url(images/background-image.jpg);
    padding: 35px 0px 380px 0px;
    margin-bottom: 40px;
}
.iphone-film{
    display: grid;
    place-items: center;
    background-image: url(images/iphone-film.jpg);
    height: 500px;
    width: 630px;
}
.iphone-film h2{
    color: white;
    width: 340px;
}
.iphone-film button{
    border-radius: 30px;
    padding: 10px 20px;
}
.grid4 img{
    width: 100%;
}
.grid4{
    display: grid;
    place-items: center;
    width: 630px;
    background-color: white;
    height: 500px;
}
@media(max-width: 1050px) {
    .phone-info-wrapper{
        display: none;
    }
    .mobile-phone-info-wrapper{
        display: block;
    }
    .mobile-phone-wrapper{
        border-bottom: 1px solid black;
        padding-bottom: 100px;
        margin-top: 40px;
    }
    .iphone-se{
        display: none;
    }
    .fourth-section{
        display: block;
    }
}
@media(max-width: 600px){
    .vanish{
        display: none;
    }
    .info{
        width: 85%;
    }
    .film-about-using-iphone{
        padding-left: -30% ;
    }
}